body {
  background: #000 url(stars.png) repeat 20% 20%;
  animation: move-stars 200s linear infinite;
}

[data-action] {
  cursor: pointer;
  color: white;
  font-family: "Mountains of Christmas", cursive;
  font-size: 1.5rem;
}

@keyframes move-stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

button {
  border: 1px solid white;
  background-color: transparent;
  font-family: "Mountains of Christmas", cursive;
  font-size: 1.5rem;
  margin: 5px;
}

::placeholder,
input {
  color: white;
}

h1 {
  font-family: "Mountains of Christmas", cursive;
  font-size: 4.5rem;
  text-align: center;
  color: white;
}

.close,
.closeinquisitorial,
.closenotexpel {
  font-family: "Mountains of Christmas", cursive;
  font-size: 2rem;
  float: right;
  color: white;
  cursor: pointer;
}

h2,
p {
  font-family: "Lato", sans-serif;
  color: white;
}

.infostudents {
  background-color: white;
  width: 50%;
  height: 100%;
  opacity: 50%;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.infostudents p {
  color: black;
}
.infostudents h2 {
  color: black;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

.modalflex {
  display: flex;
}

.prefectstarmodal,
.inquisatorialmodal {
  width: 10%;
}

.inquisitorialimg {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.expelledtrue {
  width: 30%;
}

.expelledtrue {
  font-family: "Mountains of Christmas", cursive;
}

.prefectstar,
.doorexpel,
.inquisitorialimg {
  cursor: pointer;
}
.image {
  width: 50%;
}

.housecrest {
  width: 20%;
}

.modal-data {
  cursor: pointer;
}

.closeprefect {
  float: right;
  color: white;
  font-family: "Mountains of Christmas", cursive;
  cursor: pointer;
  font-size: 1.5rem;
}

#search {
  background-color: transparent;
  border: 1px solid white;
  font-family: "Mountains of Christmas", cursive;
  font-size: 1.5rem;
}

.hide {
  visibility: hidden;
}

#list {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
}

tr,
td {
  border-bottom: 1px solid white;
}

table {
  width: 80%;
}

.house,
.bloodnotpossible,
.only2prefects,
.cannotexpel {
  text-align: center;
}

.hackthesystembutton {
  border: none;
  color: white;
}

[data-sortname="firstName"] {
  float: left;
}

[data-sortname="lastName"] {
  text-align: left;
}

.houses {
  text-align: center;
  padding: 20px;
}

.removea,
.removeb,
.remove {
  color: white;
  text-align: center;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 50px;
}
